{% extends "layout/layout.html.twig"  %}

{% block content %}
<section class="uk-padding uk-padding-remove-horizontal">
    <div class="uk-container">

        <form method="post" action="{{ request.path_info }}" data-uk-grid>

            <div data-uk-grid>
                <div class="uk-width-5-6@s">
                    <div data-uk-grid>
                        <div class="uk-width-1-6@m">
                            <div class="cp-bold cp-blue">Projekt</div>
                        </div>
                        <div class="uk-width-1-6@m uk-width-1-3@s">
                            <div class="cp-bold">Projektname</div>
                        </div>
                        <div class="uk-width-2-3@s">
                            <input name="project" type="text" title="project" class="cp-text-input" value="{{ project.pro_name }}">
                        </div>

                        <div class="uk-width-1-6@m uk-margin-top">
                        </div>
                        <div class="uk-width-1-6@m uk-margin-top">
                            <div class="cp-bold">Projekt-URL</div>
                        </div>
                        <div class="uk-width-2-3@m uk-margin-top">
                            <input  name="pro_url" type="text" title="pro_url" class="cp-text-input" value="{{ project.pro_url }}">
                        </div>

                        <div class="uk-width-1@m">
                            <hr class="cp-hr">
                        </div>

                        <div class="uk-width-1-6@m">
                            <div class="cp-bold cp-blue">Kundeninfo</div>
                        </div>
                        <div class="uk-width-1-6@m">
                            <div class="cp-bold">Kunde</div>
                        </div>
                        <div class="uk-width-2-3@m">
                            <input name="client" type="text" title="client" class="cp-text-input" value="{{ project.cli_name }}">
                        </div>

                        <div class="uk-width-1-6@m uk-margin-top">
                            <div></div>
                        </div>
                        <div class="uk-width-1-6@m uk-margin-top">
                            <div class="cp-bold">Adresse</div>
                        </div>
                        {#$address = SELECT cli_address FROM client WHERE cli_id=$id#}
                        <div class="uk-width-2-3@m uk-margin-top">
                            <input name="cli_address" type="text" title="cli_address" class="cp-text-input" value="{{ project.cli_address }}">
                        </div>

                        <div class="uk-width-1-6@m uk-margin-top">
                            <div></div>
                        </div>
                        <div class="uk-width-1-6@m uk-margin-top">
                            <div class="cp-bold">PLZ/Ort</div>
                        </div>
                        <div class="uk-width-2-3@m uk-margin-top">
                            <div data-uk-grid>
                                <div class="uk-width-1-3@m "><input name="cli_zipCode" type="text" title="cli_zipCode" class="cp-text-input" value="{{ project.cli_zipCode }}"></div>
                                <div class="uk-width-2-3@m "><input name="cli_city" type="text" title="cli_city" class="cp-text-input" value="{{ project.cli_city }}"></div>
                            </div>
                        </div>

                        <div class="uk-width-1@m">
                            <hr class="cp-hr">
                        </div>

                        <div class="uk-width-1-6@m">
                            <div class="cp-bold cp-blue">Allg. Info</div>
                        </div>
                        <div class="uk-width-1-6@m">
                            <div class="cp-bold">Partner</div>
                        </div>
                        <div class="uk-width-2-3@m">
                            <select name="par_id" title="par_id" class="uk-select cp-select">
                                <option>bitte wählen</option>
                                {% for partner in partners %}
                                    {% set selected = '' %}
                                    {%  if (project.par_id) == project.par_id %}
                                        {% set selected = 'selected' %}
                                    {%  endif %}
                                    <option value="{{ project.par_name }}" {{ selected }}>{{ project.par_name }}</option>
                                {% endfor %}
                                {#<?php foreach ($partnerData): ?>#}
                                    {#<option><?=$partnerDate; ?></option>#}
                                {#<?php endforeach;?>#}
                            </select>
                        </div>

                        <div class="uk-width-1-6@m uk-margin-top"></div>

                        <div class="uk-width-1-6@m uk-margin-top">
                            <div class="cp-bold">Server</div>
                        </div>
                        <div class="uk-width-2-3@m uk-margin-top">
                            <select name="ser_id" title="ser_id" class="uk-select cp-select">
                                <option>bitte wählen</option>s
                                {% for server in servers %}
                                    {% set selected = '' %}
                                    {%  if (server.ser_id) == project.ser_id %}
                                        {% set selected = 'selected' %}
                                    {%  endif %}
                                    <option value="{{ server.ser_name }}" {{ selected }}>{{ server.ser_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                {#TODO: Knöpfe rufen keine Action/Methode auf und erzwingen so das speichern und löschen nicht. Zudem rufen sie eine falsche Folgeseite auf.#}
                <div class="uk-width-expand">
                    <div class="uk-width-1-1@m">
                        <button type="submit" name="saveProject" class="cp-button uk-button uk-card-default uk-card-hover uk-button-small uk-align-right uk-margin-small-bottom">Speichern</button>
                    </div>
                    <div class="uk-width-1-1@m">
                        <a href="/projects/{{ project.pro_id }}" class="cp-button uk-button uk-card-default uk-card-hover uk-button-small uk-align-right uk-margin-small-bottom">Abbrechen</a>
                    </div>
                    <div class="uk-width-1-1@m">
                        <button type="submit" name="deleteProject" class="cp-button uk-button uk-card-default uk-card-hover uk-button-small uk-align-right uk-margin-small-bottoms">Löschen</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</section>

{% endblock %}



